
<%- include('header.ejs') %>  

<main>
    <div class="profil">
        <% if (isLogged) {%>
         
        
        <a href="logout">Logout</a>
        <a href="modif">Modifier mon profil</a>
        <a href="delete">Supprimer mon profil</a>
         <% } %>
    </div>
    
     <% if(locals.message) { %><p> <%=message  %></p>
    <% } %>
    
    <% if (!isLogged) {%>
        <form method="post" class="loginForm">
            <label for="login">Votre email</label>
            <input type="email" name="login" id="email" />
            <label for="mdp">Votre mot de passe</label>
            <input type="password" name="mdp" id="mdp" />
            <input type="submit" value="Login" class="login" />
        </form>
        <% } %>
        
         <% if (isLogged) {%>
        <p>  Données du patient:</p>
         <ul class ="list">
            <li>
                <ul>
                <li>Nom:<%= patient.nom %></li>
                 <li>Prenom:<%= patient.prenom %></li>
                <li>Numero de téléphone:<%= patient.tel %></li>
                </ul>
            </li>
            <li> <p> List de rendez-vous:</p>
            <ul>
            <% for(const tab of rdv) { %> 
                
                   <li>Date et l'heure de RDV<%= tab.dateTime %></li>
                    <li>Praticien <%= tab.Nom %> <%= tab.Prenom %></li>
                <% } %>
                </ul>
            </li>
          </ul>
       <% } %>
       
    </main>
    
    <%- include('footer.ejs') %>  