<%- include('header.ejs') %>

<main>
    <div class="profil">
      
        <a href="logout" class="planning">Logout</a>
        <a href="admin/modifAdmin" class="planning">Modifier mon profil Admin</a>
        <a href="admin/newAdmin" class="planning">Crée profil Admin</a>
        <a href="admin/rdvAdmin" class="planning">Modifier les RDV</a>
        <a href="delete" class="planning" >Supprimer mon profil Admin</a>
    </div>
    
     <% if (isLogged) {%>
        <p>  Données du praticien:</p>
         <ul class ="list">
            <li>
                <ul>
                <li>Nom:<%= praticien.nom %></li>
                 <li>Prenom:<%= praticien.prenom %></li>
                
                </ul>
            </li>
            <li> <p> List de rendez-vous:</p>
            <ul>
           <% for(const tab of rdv) { %> 
    <li>Date et l'heure de RDV <%= tab.dateTime %></li>
    <li>Patient <%= tab.nom %> <%= tab.prenom %></li>
    <li>Tel: <%= tab.tel %></li>
</ul>
</li>
<% } %>
          </ul>
       <% } %>
</main>

<%- include('footer.ejs') %> 